CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
AWS_ACCESS_KEY_ID=danpra
AWS_SECRET_ACCESS_KEY=miniopwd 
S3_ENDPOINT_URI=localhost:9000

## our local S3-like storage
#MINIO_ROOT_USER=danpra
#MINIO_ROOT_PASSWORD=miniopwd